
/* Main container styles */
* {
  margin: 0;
  padding: 0;
}

body {
font: normal 0.8em "Trebuchet MS", sans-serif;
line-height: 1.6em;
color: #BEE6E9;
background: #003549 url(img/top_bg.gif);
background-repeat: repeat-x;
}

/* TinyMCE specific rules */
body.mceContentBody {
   background: #003549;
}

/* header span*/

#header {
  width:100%;
  height:130px;
}

#headerInner {
  position: relative;
  width: 950px;
  height:130px;
  margin: 0 auto;
}

/* logo, text logo, and slogan */

#siteName {
  font-family: Georgia,"trebuchet ms", helvetica, sans-serif ;
  margin:40px 0 0 0;
  padding-left: 3px;
  color: #fff;
  font-size: 40px;
  	font-weight:normal;
	letter-spacing: -1px;

}

#siteSlogan {  
  font-family: Georgia, "trebuchet ms", helvetica, sans-serif ;
  margin:14px 0 0 10px;
  color: #eee;
  font-size: 18px;
  text-align: center;
}

#siteName a {
  color:#Fff;
  text-decoration:none;
}

#siteName a:hover {
  color:#fff;
  text-decoration:underline;
}

#logo {
  float: left;
  margin: 35px 0 0 0;
}

#logo img {
  float: left;
  border: 0;
}

#logowrapper {position: absolute;}
#logowrapper p{color:#fff;float:left;font-size:0.9em;height:40px;line-height:1.3;padding-left:5px;padding-top:32px;width:210px;}
#logowrapper p a{color:#fff;text-decoration:underline;}


#navigation{position:absolute;right:0;top:0px;}
#navigation li a{border: 1px solid #FC92A4; border-top:1px solid #CD6566;   background:#CD6566 ;color:#fff;display:block;font-weight:700;margin:0 3px;padding:5px 0;text-align:center;width:90px;}
#navigation li.active a,#navigation li a:hover{color:#EAF4F9;padding-top:12px;text-decoration:none;}
#navigation li{float:left; list-style:none;}

/* navigation links

#navigation { position: absolute; top: 130px; left: 0px; }
#navigation ul { padding: 0px; margin: 0px; }
#navigation li { padding: 0px; margin: 0px; display: inline; background: url(img/MainMenuLeft.png) no-repeat left top;}
#navigation a { padding: 0px 0px 0px 12px; margin-left: 1px;  float: left;}
#navigation a  { padding: 10px 15px 11px 4px;  background: url(img/MainMenuRight.png) no-repeat right top; float: left; }
#navigation a span { float: none; color: #fff;}
#navigation a:hover  { color: #3d474e;}
#navigation a:hover { background-position: 0% -34px; color: #fff; text-decoration: none;}
#navigation a.active { background-position: 100% -34px; color: #fff;}

 */

/* main body layout */

#main {
  background: #003549;
}

#mainInner {
  position: relative;
  width: 950px;
  margin: 0 auto;
  padding-top: 1em;
}

/* 3 columns and primary content layout */
	
#primaryContent {
  position: relative;
  margin-right: 34em;
  margin-left: 0.2em;
}

#primaryContent h3 {
  margin:5px 0 5px 0;
}
	
#columns {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -34em;
  margin-bottom:15px;
  padding-right: 2em;
  overflow:hidden;
}

#columns h2 {
  font-size:18px;
  margin:10px 0 5px 0;
}
	
/* secondary content */
	
#secondaryContent {
  float: right;
}

/* begin sidebarLeft */

#sidebarLeft {
width: 230px;
background: #a3deff url(img/sidebar.gif) repeat-y;
float: left;
margin: 0em 1em 0.5em 1em;
color: #3298CC;
border: 2px solid #52B0D3;
}

#sidebarLeft .title {
  margin:0;
  background: url('img/col2.png') top left no-repeat;
  padding:0 0 3px 18px;   
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sidebarLeft-content {
padding: 0 15px 0 15px;
text-align: justify;
}
#sidebarLeft li a { display: block; padding: 3px 0px 4px 15px; text-decoration: none; color: #a1e8ff; background: url(imag/CategoriesIco.png) no-repeat left top;  }
#sidebarLeft li a:hover { background: #276e88 url(img/CategoriesIcoOn.png) no-repeat left top; text-decoration: none; color: #e1f15d;  }

#sidebarLeft span#topspan {
display: block;
height: 2px;
width: 230px;
margin: 0;
padding: 0;
background: #003549 url(img/top.gif) no-repeat bottom left;
}
#sidebarLeft span#bottomspan {
display: block;
height: 2px;
width: 230px;
margin: 0;
padding: 0;
background: #003549 url(img/bottom.gif) no-repeat top left;
}
	
#sidebarRight {
  width: 13em;
  float: left;
  margin: 4.5em 0em 0.5em 0.5em;
}
	
#sidebarRight .title {
  margin:0;  
  background: url('img/col2.png') top left no-repeat;
  padding:0 0 3px 18px;   
  border-bottom:1px solid #e9e6d8; 
}

#sidebarRight h3 {
  border:none;
}

/* node and basic text attributes */

h1,h2,h3,h4,h5,h6 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	letter-spacing: -1px;
}
h1,h2,h3 {
	font-size:1.6em;
}
h4,h5,h6 {
	font-size:1.5em;
}
h5 {
	margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #27abdb;
}

a:hover {
  text-decoration: underline;
  color:#fff;

}
a:visited{

}
.content {
  margin-top:15px;
  clear: both;
}

.content p {
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 1em;
}

.node {
  margin: 0 0 1em 0;
}

.node ul, .node ol {
  margin: 1em 3em 1em 3em;
  line-height: 1.5em;
}
.node ul{
  margin: 1em 3em 1em 0;
}

.node ul li{
  padding: 0 0 0 3em;
  background:url('img/custombullet.gif') 19px 5px no-repeat;
}

* html .node ul li{
   height:10px;
}

#comment-form div.form-item{
   clear:both;
   padding:10px 20px;
   background:#001D29;
   border:1px solid #f4f2eb;
}

* html #comment-form div.form-item{
   height:1px;
}

div.picture{
	 float:left; 
	 margin:0 0 0 0;
   padding:5px;
}

div.picture a{
   display:block;
	 width:auto;
	 height:auto;
   padding:1px;
   border:1px solid #A0B2BC;
}

.nodeimg {
   padding:3px;
   border:1px solid #A0B2BC;
}

div.picture a:hover{   
   border:1px solid #31353E;
}

div.picture a img{
   display:block;   
}

.nodeTitle, .pageTitle {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: normal;
  padding: 5px 0px 3px 0px;
  line-height: 25px;
  clear:left;  
}

.nodeTitle, .pageTitle{   
   padding-left:0px;
   width:400px;  
}
.post {
	clear:both;
	padding-top: 10px;
}
.post-date {
	width: 45px;
	height: 49px;
	float:left;
	background: url(img/PostNrBkg.png) no-repeat;
}
.post-month {
	font-size: 11px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	display:block;
	line-height: 11px;
	padding-top: 2px;
	margin-left: -3px;
}
.post-day {
	font-size: 18px;
	text-transform: uppercase;
	color: #999999;
	text-align: center;
	display:block;
	line-height: 18px;
	padding-top: 7px;
	margin-left: -3px;
}
.entry {
	float:right;
	width: 438px;
}
.post-cat {
	background: url(images/mini-category.gif) no-repeat left center;
	padding-left: 20px;
	float:left;
	font-size: 95%;
	color: #999999;
}
.post-comments {
	background: url(images/mini-comments.gif) no-repeat left center;
	padding-left: 20px;
	float: right;
	font-size: 95%;
}
.post-calendar {
	background: url(images/mini-calendar.gif) no-repeat left center;
	padding-left: 20px;
	float: right;
	font-size: 95%;
	color: #999999;
}
.post-content {
	clear: both;
	padding-top: 10px;
}


div#comments h2.title{   
   padding:10px 0 10px 30px;
   background:url('img/sponsors.gif') center left no-repeat; 
   width:400px;   
}

.nodeTitle a {
  color:#FFFF99;
  border-bottom: 1px solid #FFFF99;

}

.nodeTitle a:hover {
  text-decoration: none;
  color:#003549;
  border-bottom: 1px dotted #2596D0;
  background-color: #fff;
}

.submitted {
  background: url(img/user.gif) no-repeat;
  background-position: 2px 3px;
  padding:3px 0 3px 20px;
  color:#999;
  font: normal 11px arial;
  margin:0 0 0 3px; 
  float: left;
}

.linkswrap{
  color: #FFFF99;
  padding: 0 5px 0 5px;
  margin-bottom: 3em;
  background: #001D29;
}

.linkswrap a{
color: #FFFF99;
}
#nwrap{
  background: #001D29;
}

.service-links {
  background-color: #e2eff8;
  border-top: 3px solid #B9D9EE;
  padding: 5px;
  margin-bottom: 0em;
  margin-top: 1em;
}

.postlinks {
  padding: 5px 0 12px 18px;
  margin: .4em 0;
}

.taxonomy {
  padding: 5px 0 12px 18px;
  margin: .4em 0;
}
	
ul.links {
  list-style-type: none;
  margin: 0;  
}
ul.links.inline {
  display: inline;
}
ul.links li {
  display: inline;
  margin: 0 0.2em;
  padding:0;
  background-image:none;
}

/* comments layout */

.commentbox{
	background: #001D29 url(img/comment_line.gif) no-repeat 0 -2px;
	padding: 10px;
	margin:0 0 9px 0;
	clear: both;
	min-height:65px;
	height:auto !important;
}

.commentbox .avatar {
	width:54px;
	height:54px;
	background:url(img/avatar.jpg) no-repeat;
	float:left; 
	margin:0 0 0 0;
}

.commentbox p{
	margin:5px 0 10px 0;
	font: normal 12px/16px arial;
}
	
.comment_date {
	color:#999; 
	font:normal 11px arial; 
	line-height:23px;
}

.comment_links {
  float: right;
}

.comment_links ul {
  background:#001d29;
  padding: 1px 3px 1px 3px;
}
	
.author_meta{ 	
	width:420px;	
	margin-left:64px;
	min-height:60px;
}

* html .author_meta{
	height:60px;
}
	
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

/* other styles */

#mission {
	font-size: 13px;
	margin: 1em 0 2em 0;
	background: #001D29; 	
  width:500px;   
  padding: 5px 0 5px 16px;
  border: 3px solid #CC6664;
}

#mission div#mcontainer{	
	background: url('img/mission2.gif') bottom center no-repeat;	
}

#mission div#mcontainer1{	
	background: url('img/mission1.gif') top center no-repeat;
   padding:10px 3px 10px 15px;   
}

#mission h1, #mission h2{font-size:1.5em; margin:0 0 0.5em 0;}

#mission ul li{
   width:145px;
   padding:7px;
   float:left;
   list-style:none;
}
.clearme{
   clear:both;
   height:1em;
   font-size:1%;
}

dt {
  font-size:14px;
  font-weight:bold;
  margin:10px 0 5px 0;
}

.commentTitle {
  font-size:18px ;
}

.block {
  margin: 10px 0 20px 0;
}

.messages {
  background:#001D29;
  margin: 5px 0 5px 0;
  padding: 10px;
}

#pager {
  clear:both;
  padding:30px 0px 10px 0;
}

/* img styles */

#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #a3deff;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 16px arial;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}

#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}

.preview {
  border: 1px solid #ccc;
}

/* table styles */

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #AAAAAA;
  color: #C3D895;
  font-weight: bold;
}

td, th {
  padding: .3em 0 .5em 0;
  background-color: #195B73;

}

tr.even, tr.odd, tbody th {
  border: solid #fff;
  border-width: 1px 0;
}

tr.even {
  background-color: #003549;
}

tr.odd td.active {
  background-color: #001D29;
}

tr.even td.active {
  background-color: #003549;
}

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #AAAAAA;
  background-color: #195B73;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}


.box {
	clear: both;
	margin-top: 1.5em;
}

.form-text, .form-submit, .form-textarea, .form-item {
margin-top:        6px;
margin-bottom:     4px;
}

#edit-search-block-form-keys{
   border:1px solid #a3deff;
   width:164px;
   margin-top:0;
   padding: 2px 0 2px 0;
   background:url('img/searchformbcg.gif') center center no-repeat;
}

#sidebarRight #edit-submit{
   border:1px solid #a3deff;
   font: normal 1em "Trebuchet MS", sans-serif;
   cursor:pointer;
   background:#fff url('img/searchbtn.gif') bottom left repeat-x;
   width:65px;
   height:23px;
   margin:0;
   padding:0;
   line-height:100%;
}

.node blockquote {background: #f4f4f4 url('img/bquote1.gif') no-repeat 0% 0%; padding: 20px 0 0 40px; margin: 1em 30px;}
.node blockquote p {background: url('img/bquote2.gif') no-repeat;background-position:bottom right; padding: 0 40px 20px 0;}

#block-block-1 div.content{
   width:166px;
   background:url('img/feed3.gif') top center repeat-y;
}

#block-block-1 div.content div#feedcont{   
   background:url('img/feed2.gif') bottom center no-repeat;
}

#block-block-1 div.content ul{
   margin:0;
   padding:15px 6px 10px 15px;
   list-style:none; 
   background:url('img/feed1.gif') top center no-repeat;    
}

#block-block-1 div.content ul li{
   padding-bottom:4px; 
}

#sidebarLeft #block-comment-0 div.item-list ul,
#sidebarLeft #block-similar-0 div.item-list ul,
#sidebarLeft #block-block-3 div.item-list ul { list-style-type:none; margin:0; padding:0; }

#sidebarLeft #block-comment-0 div.item-list ul li,
#sidebarLeft #block-similar-0 div.item-list ul li,
#sidebarLeft #block-block-3 div.item-list ul li { list-style-type:none; margin:0; border-bottom: 1px solid #394559; text-align:left; }

#sidebarLeft #block-comment-0 div.item-list ul li a,
#sidebarLeft #block-similar-0 div.item-list ul li a,
#sidebarLeft #block-block-3 div.item-list ul li a { display: block; padding:2px 10px 5px 10px; text-decoration: none; color:#BEE6E9; }

#sidebarLeft #block-comment-0 div.item-list ul li a:hover,
#sidebarLeft #block-similar-0 div.item-list ul li a:hover,
#sidebarLeft #block-block-3 div.item-list ul li a:hover { background:#353b44; }

#sidebarLeft #block-comment-0 div.item-list ul li a span,
#sidebarLeft #block-similar-0 div.item-list ul li a span,
#sidebarLeft #block-block-3 div.item-list ul li a span { display:block; }

/*ADDED FOOTER STUFF */

/*\ IE/Win min height hack */ 
* html .FooterContain { height: auto;} /* */ 
.FooterContain { width: 100%; background: #001D29; clear: both; margin-top: 1em; padding: 12px 0px 0px 0px; border-top: 10px solid #CC6664;}
.Footer { width: 950px; margin: 0 auto; color: #FFFF99; background: #001D29; clear: both;} 
.Footer h2 { font-size: 20px; letter-spacing: -1px; font-weight: normal; color: #FFFF99; padding: 15px 0px 10px 0px; margin: 0px; border-bottom: solid 5px #FFFF99; } 

.Footer ul { padding: 0px; margin: 20px 0px; border-top: dashed 1px #FFFF99; } 
.Footer li, .Footer .item-list ul li { background: url(img/foot_bullet.gif) no-repeat left; margin: 0px; padding: 5px 0px 6px 15px; list-style-type: none; border-bottom: dashed 1px #FFFF99; display: block;  } 
.Footer li small { font-size: 10px; color:#5e7d8c;} 

.Footer li a { color: #FFFF99; }
.Footer li a:visited { color: #FFFF99; }

.FooterRecent { float: left; width: 300px; }
.FooterRecent h2 { background: url(img/entries.gif) no-repeat left center; padding-left: 30px;}
.FooterCommented { float: left; width: 300px; margin: 0px 22px; }
.FooterCommented h2 { background: url(img/discussed.gif) no-repeat left center; padding-left: 30px;}
.FooterPartners {float: left; width: 300px; }
.FooterPartners h2 { background: url(img/sponsors.gif) no-repeat left center; padding-left: 30px;}

.FooterCopy { background: #445961; width: 950px; color: #fff; float: left; } 
.Footer .credit {background: #003549; /*background: url(img/footer_logo.gif) no-repeat; width: 231px; height: 32px;*/  padding: 10px;} 
.Footer .credit em { display: none;} 

.FooterCopy p { padding: 10px; margin: 0px; font-size: 11px; color: #eee; } 
.FooterCopy a { text-decoration: underline; color: #ddd; } 
.FooterCopy a:visited { text-decoration: underline; color: #728a8a; } 
.FooterCopy a:hover { text-decoration: underline; color: #fff; }

.Footer .block { margin: 0; }
.FooterPartners .content { margin-top: 20px; }
.FooterPartners table { margin-top: 0px !important; border-collapse: separate; border-top: dashed 1px #FFFF99 !important; }
.FooterPartners tbody { border: 0; border-bottom: dashed 1px #FFFF99; }
.FooterPartners td { padding: 0; padding-top: 1px !important; }
.FooterPartners span { text-align: left; padding: 5px 0 5px 15px; border-bottom: dashed 1px #FFFF99; background: url(img/foot_bullet.gif) no-repeat left; display: block; }

.biglists {
list-style-type:none;
margin:0pt;
padding:0pt;
}

.biglists li {
margin:0px;
padding:0px;
width:195px;
float:left;
}

.biglists a {
border-bottom:1px solid #001D29;
display:block;
text-decoration:none;
}
/**********Display Icons *******************/
li.comment_comments a {
  padding-left: 20px;
  background:url(icons/comment.png)  no-repeat 0 2px;
}
li.comment_add a {
  background: url(icons/comment_add.png) no-repeat 0 1px;
  padding-left: 18px;
}

li.node_read_more a {
  background: url(icons/readmore.png) no-repeat 0 2px;
  padding-left: 18px;
}

li.upload_attachments a {
  background: url(icons/mini-attachment.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_delete a {
  background: url(icons/comment_delete.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_edit a {
  background: url(icons/comment_edit.png) no-repeat 0 0;
  padding-left: 18px;
}

li.comment_reply a {
  background: url(icons/comment_add.png) no-repeat 0 0;
  padding-left: 18px;
}
#block-user-2 ul li, #block-user-3 ul li {
  list-style-type:none;
  list-style-image: none;
  margin-left: -5px;
  padding-left: 18px;
  background-image: url(icons/mini-user-light-blue.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.status {
  background: #001D29 url(icons/icon-info.png) no-repeat;
    padding-left: 52px;

}
.taxonomy li.first {
  background: url(icons/tag_red.png) no-repeat 0 2px;
  padding-left: 15px !important;
}
.error {
  border-color: red;
    border: 2px solid #E1471D;
  background: #001D29 url(icons/icon-alert.png) no-repeat;
    padding-left: 35px;

}

#forum table {
  width: 100%;
  border:1px solid #fff;
 font-size: 1.1em;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
  border:1px solid #fff;

}
#forum td.forum, #forum td.posts {
  background-color: #195B73;
  background: #195B73 url("img/forum.gif") repeat-x 0% 0%
}
#forum td.topics, #forum td.last-reply {
  background-color: #003549;
}
#forum td.container {
  background: #001D29 url("img/forum_cont.gif") no-repeat;
  padding-left: 35px;
  padding-top: 6 px;
  padding-bottom: 6 px;
  border-bottom: thin solid gray;
  

}
#forum td.container a {
  color: #FFFF99;
  text-decoration: underline;
  text-transform: uppercase;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #eee;
}
#forum td .name {
  color: #24AADC;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

